openai
ffmpeg-python
python-dotenv
pydub

git+https://github.com/openai/whisper.git
setuptools-rust
numpy<2
whisper
jiwer
pandas
matplotlib

langchain
langchain-ollama
langchain-community
langchain_chroma
ollama
transformers
unstructured
unstructured_inference
unstructured_pytesseract
pdfminer.six
pi_heif
chromadb

flask
flask_cors