openai
ffmpeg-python
python-dotenv
pydub

git+https://github.com/openai/whisper.git
setuptools-rust
numpy<2
whisper
jiwer
pandas
matplotlib

langchain
langchain-ollama
langchain-community
ollama
transformers